@import "variables";

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-red {
    color: $common-red !important;
}
.booking-container {
    width: min(1320px, calc(100% - 64px));
    max-width: 1320px;
    margin: 0 auto;

}
